@import "tailwindcss";
@config "./tailwind.config.js";

@theme {
  --color-brand-charcoal: #1f2937;
  --color-brand-teal: #14b8a6;
  --color-brand-dark: #08252B; /* Updated to the authentic deep teal-navy */
}